<div class="add-song modal">
    <div class="modal-content">
        <div class="modal_header">
            <span class="close_button">&times;</span>
            <span class="modal_heading">Add a song</span>

        </div>
        <div id="song_display"  class="modal_body">

        </div>
        <div class="modal_footer">
            <span>Juke box copyrights apply <i class="far fa-copyright"></i></span>
        </div>
        <script>
        </script>
    </div>
</div>