<div class="discover-nav-bar">
    <ul>
        <li><a href="/discover/music" id="music-link">Music</a></li>
        <li><a href="/discover/people" id="people-link">People</a></li>
        <li><a href="/discover/artists" id="playlist-link">Artists</a></li>
    </ul>
</div>
