<div class="publish_product_modal modal">
    <div class="modal-content">
        <div class="modal_header">
            <span class="close_button">&times;</span>
            <span class="modal_heading">Publish a product for sale</span>

        </div>
        <div class="modal_body publish_modal_body">
            <label for="product_name">Name of product</label><input type="text" id="product_name" required>
            <label for="product_price">Base cost:</label><input type="text" id="product_price" disabled placeholder="€8.30">
            <label for="profit">Your desired profit</label><input type="text" id="profit" required>
            <label for="sale_price">Sale price</label><input type="text" id="sale_price" disabled>

            <button class="publish_product_button"id="publish_product_button" type="button">
                Publish Product
            </button>
        </div>
        <div class="modal_footer">
            <span>Juke box copyrights apply <i class="far fa-copyright"></i></span>
        </div>
    </div>
</div>