<div class="side-nav-item active"><a href="profile">Overview</a></div>
<div class="side-nav-item"><a href="playlists">Playlist</a></div>
<div class="side-nav-item"><a href="#">Likes</a></div>
<div class="side-nav-item"><a href="#">Posts</a></div>
<div class="side-nav-item"><a href="#">Spotify</a></div>
<div class="side-nav-item"><a href="displaySongs">My Songs</a></div>