<div class="music-options-nav-wrap">
    <ul>
        <li><select name="genre" id="genreSelect">
                <option id="genre" value="default" selected>Genre...</option>
                <option id="rapAndHipHop" value="rapandhiphop">Rap & Hip Hop</option>
                <option id="classical" value="classical">Classical</option>
                <option id="trap" value="trap">Trap</option>
            </select>
        </li>
        <li>
            <select name="order" id="orderBySelect">
                <option id="order" value="default" selected>Order By...</option>
                <option id="timeAsc" value="OldToNew">Oldest to Newest</option>
                <option id="timeDesc" value="NewToOld">Newest to Oldest</option>
                <option id="hitsAsc" value="UnPopToPop">Unpopular</option>
                <option id="hitsDesc" value="PopToUnPop">Popular</option>
            </select>
        </li>
        <li>
            <select name="pagination" id="paginationSelect">
                <option id="Ten" value="10" selected>Show 10 Songs</option>
                <option id="Twenty" value="30">Show 30 Songs</option>
                <option id="Fifty" value="50">Show 50 Songs</option>
            </select>
        </li>
        <li>
            <input class="search-box" type="text" placeholder="Search...">
            <div class="search"></div>
        </li>
        <li>
            <button onclick="refine()" id="refine"> Refine</button>
        </li>
    </ul>
</div>