<div class="music-options-nav-wrap">
    <hr>
    <ul>
        <li><select name="genre" id="genreSelect">
                <option id="genre" value="default" selected>Genre...</option>
                <option id="rapAndHipHop" value="rapandhiphop">Rap & Hip Hop</option>
                <option id="classical" value="classical">Classical</option>
                <option id="trap" value="trap">Trap</option>
            </select>
        </li>
        <li>
            <select name="order" id="orderBySelect">
                <option id="order" value="default" selected>Order By...</option>
                <option id="timeAsc" value="OldToNew">Oldest to Newest</option>
                <option id="timeDesc" value="NewToOld">Newest to Oldest</option>
                <option id="hitsAsc" value="UnPopToPop">Unpopular</option>
                <option id="hitsDesc" value="PopToUnPop">Popular</option>
            </select>
        </li>
        <li>
            <select name="pagination" id="paginationSelect">
                <option id="Ten" value="10" selected>Show 10 Songs</option>
                <option id="Twenty" value="30">Show 30 Songs</option>
                <option id="Fifty" value="50">Show 50 Songs</option>
            </select>
        </li>
        <li>
            <input class="search-box" id="search_input" type="text" placeholder="Search...">
            <div class="search"></div>
        </li>
        <li>
            <button onclick="refine()" id="refine"> Refine</button>
        </li>
    </ul>
</div>

<script>
    //every time the value in the search field changes
    $('#search_input').on('change',function(){
        //get the value in the input field
        let value = $('#search_input').val();
        //make an Ajax query to firestore
        $.ajax({
            url:`/search?value=${value}`,
            success:function (data){
                $('.songs-display').fadeOut(500, function () {
                    //filter the data returned so you get only the html for the new results to be displayed
                    const newPage = $(data).find("div").filter('div .songs-display').html();
                    //attach the new results to the song-display div and fade it back in
                    $('.songs-display').html(newPage).fadeIn(500);
                });
            }
        })
    });
</script>