<div class="store_nav">
    <ul class="store_nav_ul">
        <li class="store_nav_li"><a href="/store/music">Music</a></li>
        <li class="store_nav_li"><a href="/store/merchandise">Merchandise</a></li>
    </ul>
</div>
