<div class="content-wrapper">
    <div class="content">
        <div class="page-header">
            Discover Music
        </div>
        <div class="songs-display">
            <%include partials/discover_nav.ejs%>
        </div>
        <div class="playlist-frame">
            <%include partials/display_playlists.ejs%>
        </div>
            <div id="playlist-tracks">

            </div>

        <script src="../../javascripts/discover_playlists.js"></script>
    </div>
</div>