<div class="content-wrapper">
    <div class="content">
        <div class="page-header">
            Discover Music
        </div>
        <div class="songs-display">
            <%include partials/discover_nav.ejs%>
            <%include partials/display_artist.ejs%>
        </div>
    </div>
</div>