<div class="content-wrapper">
    <div class="content">
        <%include partials/discover_nav.ejs%>
        <hr>
        <div class="page-header" style="text-align: center; margin: 20px auto">
            Discover Music
        </div>
        <div class="songs-display">
            <%include partials/refine_options.ejs%>
            <%include partials/display_songs.ejs%>
        </div>
    </div>
</div>