<div class="content-wrapper">
  <div class="content">
    <div class="page-header">
      <h1>Welcome to Jukebox</h1>
    </div>
    <div class="page-sub-header">
      <h3>Begin your journey now as</h3>
    </div>
    <div class="journey-buttons">
      <div class="reg-btn"><a href="/user-reg">As a listener</a> </div>
      <div class="reg-btn"><a href="/artist-reg">As an artist</a></div>
    </div>
  </div>
</div>
