<div class="content-wrapper">
    <div class="content">
        <div class="page-header">
            My playlists
        </div>
        <hr>

        <div class="playlist-display">
            <button id="open_modal"><i class="fas fa-music"></i> Create Playlist</button>
            <%include partials/display_playlists.ejs%>
        </div>
        <div id="playlist-tracks">

        </div>
        <% include partials/playlist_modal.ejs %>
        <% include partials/add_song_modal.ejs%>
        <script src="../../javascripts/playlists.js"></script>
    </div>
</div>