<div class="playlist-tracks">
    <div class="playlist_name">
        <h3 id="p_name"><%=playlist_name%></h3>
    </div>
    <button class="add_song" type="button" onclick="addSong()">Add a song </button>
    <%include partials/display_songs.ejs%>
    <script>
        function addSong(){
            $('.add-song').fadeIn(200);
            $.ajax({
                url:'/users/playlist/getSongs',
                success:function(data){
                    let modal_body = document.getElementById('song_display');
                    let playlistName = $('#playlist').text();
                    for(let item in data) {
                        let song = document.createElement("div");
                        $(song).addClass("song");
                        song.innerHTML = `
                                        <form action="/users/playlist/addSong" method="post">
                                            <div class="song-wrap">
                                                <div class="thumbnail">
                                                    <img src="${data[item].thumbnailUrl}">
                                                </div>
                                                <div class="song-info">
                                                    <div class="song_info">
                                                        <span>${data[item].name}</span>
                                                    </div>
                                                    <div class="artist">
                                                        <span>${data[item].artist}</span>
                                                    </div>
                                                </div>
                                                <button type="submit" class="add">Add</button>
                                            </div>

                                            <div class="body" style="display:none">
                                                <input type="text" name="name" value="${data[item].name}">
                                                <input type="text" name="artist" value="${data[item].artist}">
                                                <input type="text" name="playlist" value ="${$('#p_name').text()}">
                                            </div>
                                        </form>
                            `
                        modal_body.appendChild(song);
                    }
                }
            });
        }
    </script>
</div>
