<div class="content-wrapper">
    <div class="content">
        <div class="profile-heading">
            <% include partials/profileCover.ejs %>
        </div>
        <div class="profile-content-wrap">
            <div class="heading-wrapper">
                <h1>Account Overview</h1>
            </div>
            <div class="overview-values-wrap">
                <div class="overview-content">
                    <input type="text" disabled value="<%=user.username%>">
                    <input type="text" disabled value="<%=user.email%>">
                    <input type="text" disabled value="<%=user.account_type%>">
                </div>
            </div>
        </div>
    </div>
</div>
