<div class="content-wrapper">
    <div class="content">
        <div class="profile-heading">
            <% include partials/profileCover.ejs %>
        </div>
        <div class="profile-content-wrap">
            <div class="heading-wrapper">
                <h1>Account Overview</h1>
            </div>
            <div class="overview-values-wrap">
                <div class="overview-content">
                    <ul>
                        <li><div class="heading">Username:</div> <div class="value">user.user</div></li>
                        <li><div class="heading">Email:</div><div class="value">user.email</div></li>
                        <li><div class="heading">Account Type:</div><div class="value">user.account_type</div> </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
