<div class="content-wrapper">
    <div class="content">
        <div class="profile-heading">
            <% include partials/profileCover.ejs %>
        </div>
        <div class="profile-content-wrap">
            <div class="heading-wrapper">
                <h1>Account Overview</h1>
            </div>
            <div class="overview-values-wrap">
                <div class="overview-content">
                    <%if(typeof token === 'undefined'){%>
                        <div class="spotify-button">
                            <a href="spotifyConnect"><i class="fab fa-spotify"></i> Connect To Spotify</a>
                        </div>
                    <%}else{%>
                        <div class="spotif-nav">
                            <ul>
                                <li><a href="spotifyPlaylist" id="">Playlists</a></li>
                                <li><a href="#" id=""></a></li>
                                <li><a href="#" id=""></a></li>
                                <li><a href="#" id=""></a></li>
                            </ul>
                        </div>
                        <div class="spotify-button">
                            <p><%=token%></p>
                        </div>
                    <%}%>
                </div>
            </div>
        </div>
    </div>
</div>
