<div class="content-wrapper">
    <div class="page-header">
        <h1 style="color: white;">Store</h1>
    </div>
    <div class="content">
        <%include partials/store_nav.ejs %>
        <div class="store-face">
            <%include partials/list_merch.ejs%>
        </div>
    </div>
</div>