<div class="content-wrapper">
    <div class="content">
        <div class="profile-heading">
            <% include partials/profileCover.ejs %>
        </div>
        <div class="profile-content-wrap">
            <div class="heading-wrapper">
                <h1>Upload A Song</h1>
            </div>
            <div class="overview-values-wrap">
                <div class="overview-content">
                   <%include partials/upload_area.ejs%>
                </div>
            </div>
        </div>
    </div>
</div>