*{
  margin: 0;
  padding: 0;
}

body {
  padding: 0;
  margin: 0;
  font: 1em "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: #1a1a1a;
  overflow-x: hidden;
  text-transform: uppercase;
  text-align: center;
}

a {
  color: #ffffff;
  text-decoration: none;
}
button{
  padding: 10px;
  font-weight: bold;
  font-size: 1.4em;
  color: white;
  border: 1px solid crimson;
  background-color: #1a1a1a;
  transition: 0.2s background-color linear;
}

/*
  index page css
*/
.reg-btn{
  padding:10px 50px;
  border: 1px solid crimson;
  border-radius: 20px;
  margin-right:5vw;
  color: crimson;
  transition: 0.3s background-color ease-in-out;
}
.reg-btn:hover{
  background-color: #9a9a9a;
}

/*
  NAVIGATION BAR CSS
*/
.vertical-nav{
  position: fixed;
  z-index: 1;
  width: 3vw;
  height: 100vh;
  border-right: 1px solid #9a9a9a;
  transition: 0.3s width ease-in-out;
}
.vertical-nav:hover{
  width: 12vw;
}
.nav-item{
  display: block;
  text-align: left;
  width: 100%;
  height: 7vh;
  border-bottom:1px solid #9a9a9a;
  transition: 0.3s background-color ease-in-out;
}
.nav-item:hover{
  background-color: #9a9a9a;
}
.nav-item a{
  display: block;
  padding: 2vh;
}
.player{
  position: absolute;
  border-bottom: 0;
  border-top: 1px solid #9a9a9a;
  bottom: 0;
}
.nav-text{
  display: none;
  margin-left: 10px;
  position: fixed;
}
.active{
  font-size: 1.4em;
}
.active a:first-child{
  color: crimson;
}
.side-dropdown{
  display: none;
  border:1px solid #9a9a9a;
  border-left: none;
  background-color: #1a1a1a;
  z-index: 100;
  position: absolute;
  width: 10vw;
  margin-top: -3vw;
  margin-left:12.1vw;
}
.side-dropdown ul{
  list-style-type: none;
}
.side-dropdown li{
  border-bottom: 1px solid #9a9a9a;
  transition: 0.3s background-color ease-in-out;
}
.side-dropdown li:hover{
  background-color: #9a9a9a;
}
.side-dropdown li:last-child{
  border: none;
}
.side-dropdown a{
  font-size: 0.8em !important;
  color: white !important;
  padding: 2vh !important;
}


/*
  MAIN CONTENT AREA CSS
*/
.wrapper{
  display:block;
  width: 100vw;
  height:auto;
}
.content{
  display: block;
  width: 68vw;
  height: auto;
  padding:10vh 16vw;
  color: #fff;
}
.page-header{
  text-align: left;
  font-size: 2.5em;
  margin-bottom:5vh;
}
.page-sub-header{
  text-align: left;
  font-size: 1.5em;
  margin-bottom:5vh;
}
.reg-btn{
  float: left;
  display: inline;
}

/*
    FORM STYLES
*/
.form-wrapper {
  display: block;
  margin-left:20vw;
  width: 30vw;
  border-radius: 3vh;
  background-color: #1a1a1a;
}
.form-header{
  font-size: 2em;
  padding: 20px;
  border-bottom: 1px solid white;
}
.form-body{
  font-size: 2em;
  padding: 20px;
  border-bottom: 1px solid white;
}
.form-body input{
  color: black;
  width: 90%;
  height: 4vh;
  padding: 4px 10px;
  margin-top: 2vh;
}
.form-body input[type=checkbox]{
  display: block;
  width: 20px;
  float: left;
  margin: 0 5px 0  0!important;
}
.checkboxes span{
  float: left;
  margin-top: 5px;
  margin-right: 5vw;
}
.checkboxes{
  font-size: 0.5em;
  text-transform: initial;
  height: auto;
  padding: 10px;
}
.form-body input:focus {
  font-weight: bold;
  outline-color: crimson;
}
.form-footer{
  text-transform: none;
  padding: 0;
}
.form-footer button{
  width: 80%;
  margin:2vh auto !important;
  background-color: #1a1a1a;
  padding-bottom:7px;
}
.form-footer button:hover{
  background-color: #393939;
  cursor: pointer;
}
.spinner{
  font-size: 0.9em;
  color: crimson;
  margin-left: 0.5vw;
}
.form-footer a{
  color: crimson;
}
.error-message{
  display: none;
  float: left;
  font-size: 0.5em;
  color: crimson;
}


/*
MUSIC OPTIONS STYLES
*/
.music-options-nav-wrap {
  width: 100%;
  padding: 1vh 2px;
  float: left;
  color: black;
}

.music-options-nav-wrap ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.music-options-nav-wrap li {
  float: left;
  padding: 1vh 0;
  margin: auto 10px auto 0;
  display: inline;
}
.music-options-nav-wrap li:last-child{
  float: right;
}

/*
MUSIC PLAYER STYLES
*/
.songs-display{
  position: absolute;
  margin: 0 auto;
  display: block;
  height: auto;
  width: 70%;
  padding:0;
  background-color: #393939;
  border: 1px solid crimson;
}
.music-player{
  margin-top: 10px;
  border: 1px solid crimson;
  position: relative;
  display: block;
  float: left;
  width: 100%;
  height: auto;
  color:white;
}
.thumbnail{
  position: relative;
  display: block;
  float: left;
  height: auto;
  background-color:#4d4d4d ;
  padding: 0;

}
.thumbnail img{
  height: 26vh;
  width: 15vw;
}
.info{
  padding: 5vh 0 0 0 ;
  align-content: center;
  position: relative;
  display: block;
  float: left;
  width: 50vw;
  height: auto;
}
.song-info{
  margin-left: 1vw;
  text-align: left;
  display: inline;
  width: 20vw;
  height: 20vh;
  float:left;
}
.views-likes{
  display: block;
  text-align: right;
  float: right;
  width: 10vw;
  height: auto;
}
.play-buttons{
  display: block;
  float: left;
  width: 10vw;
}
.play-buttons button{
  display: block;
  text-align: center;
  margin: 0 auto;
  color:white;
  font-size: 1.5em;
  border:1px solid crimson;
  border-radius: 10px;
  background-color: crimson;
}
.play-button button:active{
    outline: none;
}
.progress-bar-wrapper{
  display: block;
  float: left;
  width: 100%;
}
.progress-background{
  background:#4d4d4d;
  height: 20px;
  width: 100%;
}
.progress{
  float: left;
  background: linear-gradient(140deg,rgb(0,0,0), crimson,rgb(0,0,0));
  width: 0;
  height: 20px;
}

.current-time,.end-time{
  display: block;
  color:#fff;
  font-size: 0.5em;
}
.current-time{
  float: left;
}
.end-time{
  float: left;
}
.play-button{
  font-size: 0.7em;
  background: #1a1a1a;
  border: 1px solid crimson;
  color: crimson;
}

/*
MUSIC OPTIONS STYLES
*/
.music-options-nav-wrap {
  position: relative;
  float: left;
  color: black;
  margin: 0;
  padding:0;
}

.music-options-nav-wrap ul {
  list-style-type: none;
}

.music-options-nav-wrap li {
  float: left;
  display: inline;
  padding: 0;
}
.music-options-nav-wrap li:last-child{
  float: right;
  margin: 0!important;
}
.music-options-nav-wrap button{
  cursor: pointer;
  color: #fff;
  border: none;
  border-bottom:1px solid #6d6d6d;
  font-size: 1em;
  background-color: #393939;
  padding: 9px 9px 2px 9px;
}

.music-options-nav-wrap button:hover{
  background-color: #6d6d6d;
}
.music-options-nav-wrap input,select{
  color: #fff;
  border: none;
  border-bottom:1px solid #6d6d6d;
  font-size: 1em;
  background-color: #393939;
  padding: 10px 10px 3px 10px;
}
.music-options-nav-wrap button{
  margin: 0 !important;
}
.music-options-nav-wrap input:focus, select:focus{
  color: white;
  outline:none;
}
/*
  SEARCH BAR CSS
*/

/*
  Discover Page
*/



/*
  PROFILE PAGE
*/
.profile-content-wrap{
  height: 100%;
  background-color: #6d6d6d;
  display:block;
}
.heading-wrapper{
  position: relative;
  display: block;
  text-align: left;
  padding: 20px;
}
.overview-values-wrap{
  display: block;
  width: 100%;
  float: left;
  background-color: #9a9a9a;
  text-align: left;
}
.overview-content{
  position: relative;
  display: block;
  padding: 20px;
}

.overview-content ul{
  list-style-type: none;
}
.overview-content li{
  color: crimson;
  display: inline;
  margin: 2vh 0;
}
.heading{
  font-size: 2em;
}
/*
    PROFILE PICTURES STYLES
*/
.cover-picture{
  position: relative;
  z-index: 0;
  width: 100%;
  height: 40vh;
}
.cover-picture input[type=file]{
  display: none;
}
.cover-picture img{
  height: 100%;
  width: 100%;
}
.profile-picture{
  z-index: 1;
  position: absolute;
  top: 40%;
  right: 2%;
  width: auto;
  height: 50%;
  border: 2px solid crimson;
  background: #1a1a1a;
  border-radius:50% 50%;
}
.profile-picture img{
  position: relative;
  border-radius:50%;
}
.cover-picture button{
  display: none;
}
/*
    PROFILE SIDE NAVIGATION BAR STYLES
*/
.side-nav-item{
  padding: 3vh 0;
  border-top: 1px solid white;
}
.side-nav-item:last-child{
  border-bottom: 1px solid white;
}
.side-nav-item a{
  display: inline-block;
  font-size: 1.2em;
  cursor: pointer;
  height: 100%;
  width: 100%;
}
.side-nav-item.active{
  border-left:4px solid crimson;
}

/*
  UPLOADS PAGE
*/
.upload_area {
  width: 80%;
  margin: auto;
}
.upload_area ul{
  margin-left: 10%;
}
.upload_area input{
  width: 30%;
}
.upload_area select{
  padding: 10px;
  font-size: 0.5em;
}
.fileContainer input[type=file]{
  display: none;

}
#songPath,#imgPath{
  width: 61.5% !important;
}
.fileContainer{
  width:10vw;
  font-size: 0.5em;
  padding:10px;
  cursor: pointer;
}
#uploadSong{
  margin-left: 10%!important;
}
#songPath{
  cursor: pointer;
}
#imgPath{
  cursor: pointer;
}
